
*{
    margin: 0;
    padding: 0;
}

.box{
   display: flex;
   justify-content: center;
   align-items: center;
}
.child{
    margin-top: 5px;
    width: auto;
    border: 5px solid black;
}
.user-container{
    border: 3px solid black;
    margin: 4px;
}